/1-nbiot-liteos-oceanconnect/sample/LiteOS_ThunderSoft_STM32FL476VETx/projects/STM32L476VE_THUNDERSOFT/Listings
/1-nbiot-liteos-oceanconnect/sample/LiteOS_ThunderSoft_STM32FL476VETx/projects/STM32L476VE_THUNDERSOFT/Objects
/1-nbiot-liteos-oceanconnect/miniprojects/LiteOS_ThunderSoft_STM32FL476VETx/USER/NBIOT.uvguix.*
